/* body style - line 59 */
.elementor-kit-5566 {
                --e-global-color-primary: #333333;
                --e-global-color-secondary: #333333;
                --e-global-color-text: #707070;
                --e-global-color-accent: #009241;
                --e-global-color-39a1d1c: #6EC1E4;
                --e-global-color-319b3b21: #54595F;
                --e-global-color-70c93033: #7A7A7A;
                --e-global-color-7b544acb: #61CE70;
                --e-global-color-7626a3e1: #4054B2;
                --e-global-color-471b8052: #23A455;
                --e-global-color-2ba1c5fd: #000;
                --e-global-color-39a5f417: #FFF;
                --e-global-typography-primary-font-family: "Roboto";
                --e-global-typography-primary-font-weight: 600;
                --e-global-typography-secondary-font-family: "Roboto";
                --e-global-typography-secondary-font-weight: 400;
                --e-global-typography-text-font-family: "Roboto";
                --e-global-typography-text-font-weight: 400;
                --e-global-typography-accent-font-family: "Roboto";
                --e-global-typography-accent-font-weight: 500;
            }
@media(max-width: 1024px) {
                .elementor-4360 .elementor-element.elementor-element-8e59156 > .elementor-widget-container {
                    margin:-5px 0px 0px 0px;
                }

                .elementor-4360 .elementor-element.elementor-element-a7750d0 .elementor-icon-box-wrapper {
                    text-align: left;
                }

                body.elementor-page-4360 {
                    padding: 0px 0px 0px 0px;
                }
            }
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
            *,:after,:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
:root {
    --page-title-display: block
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

/* nav style - line 91 */
.pp-advanced-menu--dropdown.pp-menu-off-canvas {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    padding: 60px 0 0;
    z-index: 999998;
    margin-top: 0;
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease,-webkit-transform .4s ease;
    overflow-y: auto
}
.pp-advanced-menu--dropdown.pp-advanced-menu__container {
    margin-top: 10px;
}
.idnav {
    height: 924px;
}
.pp-advanced-menu--dropdown {
    background-color: #fff;
    font-size: 13px
}
.pp-menu-off-canvas {
                padding: 20px 0 0 !important
            }

/* div style - line 134 */
.pp-advanced-menu--dropdown .pp-menu-close-wrap {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9999999
}
div[class*=' pp-'],div[class^=pp-] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.pp-menu-close-wrap {
                display: none;
            }
.pp-advanced-menu--dropdown .pp-menu-close {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: none;
    font-size: 40px;
    color: #fff;
    outline: 0;
    text-align: center;
    cursor: pointer
}
.pp-advanced-menu--dropdown .pp-menu-close:after,.pp-advanced-menu--dropdown .pp-menu-close:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: #fff;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg)
}
.pp-advanced-menu--dropdown .pp-menu-close:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg)
}

/* ul style - line 164 */
ul.pp-advanced-menu {
    position: relative;
    z-index: 2;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: transparent
}
dd,dl,dt,li,ol,ul {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
ul.pp-advanced-menu:after {
    content: "\00a0";
    display: block;
    height: 0;
    font: 0/0 serif;
    clear: both;
    visibility: hidden;
    overflow: hidden
}

/* li style - line  */
.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown li:not(:last-child), .pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 li:not(:last-child) {
                border-style: solid;
                border-width: 0px 0px 1px 0px;
                border-color: #00000021;
}
ul.pp-advanced-menu li {
    position: relative;
    border-width: 0
}
dd,dl,dt,li,ol,ul {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu .pp-menu-item, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu-main-wrapper.pp-advanced-menu--type-full-screen .pp-advanced-menu--dropdown .pp-menu-item, .pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 .pp-menu-item {
                font-family: "Roboto", Sans-serif;
            }
.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown.pp-advanced-menu__container .pp-menu-item, .pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 .pp-menu-item {
                color: #000000;
            }
.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown a, .pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 a {
                justify-content: space-between;
            }
.pp-advanced-menu--dropdown.pp-advanced-menu__container .pp-menu-item {
    background-color: transparent
}
a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}
.pp-advanced-menu--dropdown .pp-menu-item {
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out
}
ul.pp-advanced-menu a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    line-height: 1.82;
    border: none;
    height: 100%
}
.pp-advanced-menu--dropdown a {
    color: #494c4f;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}
a {
    background-color: transparent;
    text-decoration: none;
    color: #333
}
.pp-advanced-menu .sub-arrow {
    font-size: 16px;
    font-weight: 900;
    line-height: 1;
    padding-left: 10px
}
.fa,.fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900
}
.fa,.fab,.fad,.fal,.far,.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}
