:root {
    --page-title-display: block;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elementor-kit-5566 {
    --e-global-color-primary: #333333;
    --e-global-color-secondary: #333333;
    --e-global-color-text: #707070;
    --e-global-color-accent: #009241;
    --e-global-color-39a1d1c: #6EC1E4;
    --e-global-color-319b3b21: #54595F;
    --e-global-color-70c93033: #7A7A7A;
    --e-global-color-7b544acb: #61CE70;
    --e-global-color-7626a3e1: #4054B2;
    --e-global-color-471b8052: #23A455;
    --e-global-color-2ba1c5fd: #000;
    --e-global-color-39a5f417: #FFF;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pp-advanced-menu--dropdown.pp-menu-off-canvas {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    padding: 60px 0 0;
    z-index: 999998;
    margin-top: 0;
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    overflow-y: auto;
}

.pp-advanced-menu--dropdown.pp-advanced-menu__container {
    margin-top: 10px;
}

.pp-advanced-menu--dropdown {
    background-color: #fff;
    font-size: 13px;
}

.pp-menu-off-canvas {
    padding: 20px 0 0 !;
}

.pp-advanced-menu--dropdown .pp-menu-close-wrap {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9999999;
}

div[class*=' pp-'],
div[class^=pp-] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pp-menu-close-wrap {
    display: none;
}

.pp-advanced-menu--dropdown .pp-menu-close {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: none;
    font-size: 40px;
    color: #fff;
    outline: 0;
    text-align: center;
    cursor: pointer;
}

ul.pp-advanced-menu {
    position: relative;
    z-index: 2;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: transparent;
}

dd,
dl,
dt,
li,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown li:not(:last-child),
.pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 li:not(:last-child) {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #00000021;
}

ul.pp-advanced-menu li {
    position: relative;
    border-width: 0;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu .pp-menu-item,
.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu-main-wrapper.pp-advanced-menu--type-full-screen .pp-advanced-menu--dropdown .pp-menu-item,
.pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 .pp-menu-item {
    font-family: "Roboto", Sans-serif;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown.pp-advanced-menu__container .pp-menu-item,
.pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 .pp-menu-item {
    color: #000000;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown a,
.pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 a {
    justify-content: space-between;
}

.pp-advanced-menu--dropdown.pp-advanced-menu__container .pp-menu-item {
    background-color: transparent;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

.pp-advanced-menu--dropdown .pp-menu-item {
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

ul.pp-advanced-menu a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    line-height: 1.82;
    border: none;
    height: 100%;
}

.pp-advanced-menu--dropdown a {
    color: #494c4f;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #333;
}

.pp-advanced-menu .sub-arrow {
    font-size: 16px;
    font-weight: 900;
    line-height: 1;
    padding-left: 10px;
}

.fa,
.fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.pp-advanced-menu--indicator-classic .pp-advanced-menu .sub-arrow i:before {
    content: '\f0d7';
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown.pp-advanced-menu__container a.pp-sub-item,
.pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 a.pp-sub-item,
.pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 .sub-menu {
    background-color: #FFFFFF;
}

ul.pp-advanced-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: transparent;
    display: none;
}

ul.pp-advanced-menu ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: transparent;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown .pp-menu-item,
.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown .pp-sub-item,
.pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 .sub-menu .pp-menu-item,
.pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 .sub-menu .pp-sub-item {
    font-family: "Roboto", Sans-serif;
}

.pp-advanced-menu--dropdown.pp-advanced-menu__container .pp-sub-item {
    font-size: .85em;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.sub-menu .pp-sub-item {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
}

ul.pp-advanced-menu--dropdown a,
ul.pp-advanced-menu--dropdown a:hover {
    border-left: 0;
}

ul.pp-advanced-menu--dropdown a {
    text-shadow: none;
    border-left: 8px solid transparent;
}

ul.pp-advanced-menu:after {
    content: "\00a0";
    display: block;
    height: 0;
    font: 0 / 0 serif;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.pp-offcanvas-container {
    position: relative;
    left: 0;
    z-index: 99;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.elementor {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.elementor-location-footer:before,
.elementor-location-header:before {
    content: "";
    display: table;
    clear: both;
}

.elementor *,
.elementor :after,
.elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#stickyheader {
    -webkit-transition: transform 0.34s ease;
    transition: transform 0.34s ease;
}

.elementor-420 .elementor-element.elementor-element-db52892:not(.elementor-motion-effects-element-type-background),
.elementor-420 .elementor-element.elementor-element-db52892>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #009241;
}

.elementor-420 .elementor-element.elementor-element-db52892 {
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 199;
}

.elementor-section {
    position: relative;
}

.elementor-section .elementor-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 768px) {
    .elementor-420 .elementor-element.elementor-element-a338806 {
        width: 20%;
    }
}

@media (min-width: 768px) {

    .elementor-column.elementor-col-50,
    .elementor-column[data-col="50"] {
        width: 50%;
    }
}

.elementor-column,
.elementor-column-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.elementor-column {
    min-height: 1px;
}

.elementor-420 .elementor-element.elementor-element-a338806.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-420 .elementor-element.elementor-element-db52892 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 10px;
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.elementor-widget-wrap {
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.elementor-420 .elementor-element.elementor-element-f4ed374 {
    text-align: left;
}

.elementor-widget-wrap>.elementor-element {
    width: 100%;
}

.elementor-widget-image {
    text-align: center;
}

.elementor-widget {
    position: relative;
}

.elementor-420 .elementor-element.elementor-element-f4ed374>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-element .elementor-widget-container {
    -webkit-transition: background .3s, border .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
    transition: background .3s, border .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
    -o-transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
}

.elementor-widget-image a {
    display: inline-block;
}

.elementor a {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}

.elementor-420 .elementor-element.elementor-element-f4ed374 img {
    width: 100%;
}

.elementor-widget-image a img[src$=".svg"] {
    width: 48px;
}

.elementor-widget-image img {
    vertical-align: middle;
    display: inline-block;
}

.elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .elementor-420 .elementor-element.elementor-element-1fa7949 {
        width: 80%;
    }
}

.elementor-420 .elementor-element.elementor-element-1fa7949.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.pp-advanced-menu-main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.pp-advanced-menu--layout-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pp-advanced-menu__align-justify .pp-advanced-menu--layout-horizontal .pp-advanced-menu {
    width: 100%;
}

.pp-advanced-menu--layout-horizontal .pp-advanced-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pp-advanced-menu__align-justify .pp-advanced-menu--layout-horizontal .pp-advanced-menu>li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu .pp-menu-item, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu-main-wrapper.pp-advanced-menu--type-full-screen .pp-advanced-menu--dropdown .pp-menu-item, .pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 .pp-menu-item {
    font-family: "Roboto", Sans-serif;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--main .pp-menu-item {
    color: #FFFFFF;
}

.pp-advanced-menu__align-justify .pp-advanced-menu--layout-horizontal .pp-advanced-menu>li>a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.elementor-widget-pp-advanced-menu .pp-advanced-menu--main .pp-menu-item {
    color: var(--e-global-color-text);
}

.pp-advanced-menu--layout-horizontal .pp-advanced-menu a {
    white-space: nowrap;
}

.pp-advanced-menu--main .pp-advanced-menu a {
    -webkit-transition: .4s;
    transition: .4s;
    padding: 13px 20px;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--main .pp-advanced-menu--dropdown {
    min-width: 200px;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--main .pp-advanced-menu--dropdown, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--type-default .pp-advanced-menu--dropdown.pp-menu-default {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #00000021;
}

.pp-advanced-menu--main .pp-advanced-menu ul {
    position: absolute;
    width: 12em;
    border-width: 0;
    border-style: solid;
    padding: 0;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--main .pp-advanced-menu--dropdown li:not(:last-child), .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--type-default .pp-advanced-menu--dropdown.pp-menu-default li:not(:last-child) {
    border-style: solid;
    border-color: #00000021;
    border-bottom-width: 1px;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown li:not(:last-child), .pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 li:not(:last-child) {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #00000021;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--main .pp-advanced-menu--dropdown a, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--type-default .pp-advanced-menu--dropdown.pp-menu-default a, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-menu-toggle {
    color: #000000;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown .pp-menu-item, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown .pp-sub-item, .pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 .sub-menu .pp-menu-item, .pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 .sub-menu .pp-sub-item {
    font-family: "Roboto", Sans-serif;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown a, .pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 a {
    justify-content: space-between;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--main .pp-advanced-menu--dropdown a:hover, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--type-default .pp-advanced-menu--dropdown.pp-menu-default a:hover, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-menu-toggle:hover {
    color: #009241;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--main .pp-advanced-menu--dropdown a:hover, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--main:not(.pp-advanced-menu--layout-expanded) .pp-advanced-menu--dropdown a.highlighted, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--type-default .pp-advanced-menu--dropdown.pp-menu-default a:hover, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--type-default .pp-advanced-menu--dropdown.pp-menu-default a.highlighted {
    background-color: #FFFFFF;
}

.pp-advanced-menu--main .pp-advanced-menu a.highlighted, .pp-advanced-menu--main .pp-advanced-menu a:focus, .pp-advanced-menu--main .pp-advanced-menu a:hover {
    padding: 13px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.pp-advanced-menu--dropdown a, ul.pp-advanced-menu--dropdown a:hover {
    border-left: 0;
}

ul.pp-advanced-menu--dropdown a:focus, ul.pp-advanced-menu--dropdown a:hover {
    text-shadow: none;
    border-left: 8px solid transparent;
}

ul.pp-advanced-menu a:focus, ul.pp-advanced-menu a:hover {
    padding: 10px 20px;
    text-decoration: none;
}

.pp-sub-item.highlighted, .pp-sub-item:focus, .pp-sub-item:hover {
    background-color: #55595c;
    color: #fff;
}

a:active, a:hover {
    color: #336;
}

@media (max-width: 1024px) {
    .pp-advanced-menu--dropdown-tablet .pp-advanced-menu--main{
        display: none;
    }
}

.pp-menu-toggle .pp-hamburger .pp-hamburger-box {
    position: relative;
    display: inline-block;
    font-size: 26px;
    width: 1em;
    height: 1em;
}

.pp-menu-toggle .pp-hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    cursor: pointer;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    line-height: 0;
}

@media only screen and (min-width: 1025px) {
    .pp-advanced-menu--dropdown-tablet .pp-menu-toggle:not(.pp-menu-toggle-on-all) {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    #logo-menu img {
        width: 80%;
    }
}

.elementor-420 .elementor-element.elementor-element-db52892:not(.elementor-motion-effects-element-type-background), .elementor-420 .elementor-element.elementor-element-db52892 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #009241;
}

@media (min-width: 768px) {
    .elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
        width: 50%;
    }
}
.elementor-column, .elementor-column-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.elementor-420 .elementor-element.elementor-element-a338806.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-420 .elementor-element.elementor-element-db52892 .elementor-column-gap-custom .elementor-column > .elementor-element-populated {
    padding: 10px;
}

.elementor-420 .elementor-element.elementor-element-f4ed374 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elementor-420 .elementor-element.elementor-element-1fa7949.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

div[class*=' pp-'], div[class^=pp-] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fa, .fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

dd, dl, dt, li, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-menu-toggle {
    margin-left: auto;
    background-color: #FFFFFF00;
}

.pp-menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    border: 0 solid;
    color: #494c4f;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .05);
    padding: .25em;
    -webkit-transition: .3s;
    transition: .3s;
}

.elementor-420 .elementor-element.elementor-element-61fff24 .pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:before, .elementor-420 .elementor-element.elementor-element-61fff24 .pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:after {
    background-color: #FFFFFF;
    height: 2px;
}

.pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner, .pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:after, .pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:before {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: .154em;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    border-radius: .154em;
}

.pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -.077em;
    -webkit-transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    -webkit-transition-duration: 75ms;
    transition-duration: 75ms;
}

@media (max-width: 1024px) {
    body.elementor-page-4360 {
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 1024px) {
    .elementor-420 .elementor-element.elementor-element-61fff24 .pp-advanced-menu--dropdown li:not(:last-child), .pp-advanced-menu--dropdown.pp-advanced-menu__container.pp-menu-61fff24 li:not(:last-child) {
        border-width: 0px 0px 1px 0px;
    }
}

@media (max-width: 1024px) {
    .elementor-section .elementor-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-420 .elementor-element.elementor-element-a338806 {
        width: 25%;
    }
}

@media (max-width: 1024px) {
    .elementor-420 .elementor-element.elementor-element-f4ed374 {
        text-align: left;
    }
}

@media (max-width: 1024px) {
    .elementor-420 .elementor-element.elementor-element-f4ed374 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media (max-width: 1024px) {
    .elementor-420 .elementor-element.elementor-element-f4ed374 img {
        width: 80%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-420 .elementor-element.elementor-element-1fa7949 {
        width: 75%;
    }
}

@media (max-width: 1024px) {
    .pp-advanced-menu--dropdown-tablet .pp-advanced-menu--main {
        display: none;
    }
}

.pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:before {
    -webkit-transition: top 75ms ease .12s, opacity 75ms ease;
    transition: top 75ms ease .12s, opacity 75ms ease;
    top: -.308em;
}

.pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:after, .pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:before {
    display: block;
    content: "";
}

.pp-menu-toggle .pp-hamburger .pp-hamburger-box .pp-hamburger-inner:after {
    -webkit-transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(.55,.055,.675,.19) .12s;
    transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(.55,.055,.675,.19) .12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(.55,.055,.675,.19) .12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(.55,.055,.675,.19) .12s, -webkit-transform 75ms cubic-bezier(.55,.055,.675,.19) .12s;
    bottom: -.308em;
}

.pp-menu-toggle.pp-active .pp-hamburger .pp-hamburger-inner:after {
    bottom: 0;
    -webkit-transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(.215,.61,.355,1) .12s, -webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.pp-menu-toggle.pp-active .pp-hamburger .pp-hamburger-inner:before {
    top: 0;
    -webkit-transition: top 75ms ease, opacity 75ms ease .12s;
    transition: top 75ms ease, opacity 75ms ease .12s;
    opacity: 0;
}

.pp-menu-toggle.pp-active .pp-hamburger .pp-hamburger-inner {
    -webkit-transition-delay: .12s;
    transition-delay: .12s;
    -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pp-menu-open{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*chatgpt-inicio*/
  /* Mostrar el submenú al hacer hover sobre el li principal */
  .menu-item:hover .sub-menu {
    display: block;
    width: auto;
    top: auto;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    max-width: 1000px;
    z-index: 3;
  }
/*chatgpt-fin*/