<header>
  <nav
    class="pp-advanced-menu--dropdown pp-menu-style-toggle pp-advanced-menu__container pp-menu-61fff24 pp-advanced-menu--indicator-classic pp-menu-off-canvas pp-menu-off-canvas-left pp-menu-open"
    data-settings='{"menu_type":"off-canvas","menu_id":"61fff24","breakpoint":"tablet","menu_layout":"horizontal","show_submenu_on":"hover","onepage_menu":"no","full_width":true}'
    style="height: 924px;"
  >
    <div class="pp-menu-close-wrap">
      <div class="pp-menu-close"></div>
    </div>
    <ul
      id="menu-menu-1"
      class="pp-advanced-menu"
      data-smartmenus-id="17272922073184565"
    >
      <li
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-15"
      >
        <a
          class="pp-menu-item has-submenu"
          id="sm-17272922073184565-7"
          aria-haspopup="true"
          aria-controls="sm-17272922073184565-8"
          aria-expanded="false"
          >La Ciudad<span class="sub-arrow"
            ><i class="fa" aria-hidden="true"></i></span
          ></a
        >
        <ul
          class="sub-menu pp-advanced-menu--dropdown"
          id="sm-17272922073184565-8"
          role="group"
          aria-hidden="true"
          aria-labelledby="sm-17272922073184565-7"
          aria-expanded="false"
        >
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-770"
          >
            <a href="https://www.iguazu.gob.ar/intendente/" class="pp-sub-item"
              >El Intendente</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-789"
          >
            <a
              href="https://www.iguazu.gob.ar/secretaria-de-gobierno/"
              class="pp-sub-item">Secretaría de Gobierno</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-712"
          >
            <a href="https://www.iguazu.gob.ar/historia/" class="pp-sub-item"
              >Reseña Histórica</a
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1527"
          >
            <a
              target="_blank"
              rel="noopener"
              href="https://historiadeiguazu.org/"
              class="pp-sub-item">Dirección de Patrimonio Histórico</a
            >
          </li>
        </ul>
      </li>
      <li
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16"
      >
        <a
          class="pp-menu-item has-submenu"
          id="sm-17272922073184565-9"
          aria-haspopup="true"
          aria-controls="sm-17272922073184565-10"
          aria-expanded="false"
          >La Municipalidad<span class="sub-arrow"
            ><i class="fa" aria-hidden="true"></i></span
          ></a
        >
        <ul
          class="sub-menu pp-advanced-menu--dropdown"
          id="sm-17272922073184565-10"
          role="group"
          aria-hidden="true"
          aria-labelledby="sm-17272922073184565-9"
          aria-expanded="false"
        >
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8296"
          >
            <a
              target="_blank"
              rel="noopener"
              href="https://visitiguazu.travel"
              class="pp-sub-item">Turismo</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4562"
          >
            <a href="https://www.iguazu.gob.ar/cultura/" class="pp-sub-item"
              >Cultura</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8205"
          >
            <a href="https://www.iguazu.gob.ar/deportes-2/" class="pp-sub-item"
              >Deportes</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7492"
          >
            <a
              href="https://www.iguazu.gob.ar/medio-ambiente/"
              class="pp-sub-item">Medio Ambiente</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8250"
          >
            <a
              href="https://www.iguazu.gob.ar/direccion-de-la-juventud/"
              class="pp-sub-item">Dirección de la Juventud</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-909"
          >
            <a
              href="https://www.iguazu.gob.ar/oficina-de-empleo/"
              class="pp-sub-item">Oficina de Empleo</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8271"
          >
            <a
              href="https://www.iguazu.gob.ar/diversidadygeneros/"
              class="pp-sub-item">Diversidad y Géneros</a
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3863"
          >
            <a href="/higiene-y-seguridad" class="pp-sub-item"
              >Higiene y Seguridad</a
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3858"
          >
            <a href="/bromatologia" class="pp-sub-item">Bromatología</a>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3857"
          >
            <a href="/transito" class="pp-sub-item">Tránsito</a>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3864"
          >
            <a href="/zoonosis" class="pp-sub-item">Zoonosis</a>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4237"
          >
            <a href="/vectores" class="pp-sub-item">Vectores</a>
          </li>
        </ul>
      </li>
      <li
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12"
      >
        <a
          class="pp-menu-item has-submenu"
          id="sm-17272922073184565-11"
          aria-haspopup="true"
          aria-controls="sm-17272922073184565-12"
          aria-expanded="false"
          >Trámites<span class="sub-arrow"
            ><i class="fa" aria-hidden="true"></i></span
          ></a
        >
        <ul
          class="sub-menu pp-advanced-menu--dropdown"
          id="sm-17272922073184565-12"
          role="group"
          aria-hidden="true"
          aria-labelledby="sm-17272922073184565-11"
          aria-expanded="false"
        >
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-517"
          >
            <a
              href="https://www.iguazu.gob.ar/tramites-de-transito/"
              class="pp-sub-item">Trámites de tránsito</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-518"
          >
            <a
              href="https://www.iguazu.gob.ar/tramites-de-bromatologia/"
              class="pp-sub-item">Trámites de bromatología</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1014"
          >
            <a
              href="https://www.iguazu.gob.ar/tramites-del-cementerio/"
              class="pp-sub-item">Trámites del cementerio</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"
          >
            <a
              href="https://www.iguazu.gob.ar/tramites-de-pension-por-invalidez/"
              class="pp-sub-item">Trámites de pensión por invalidez</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1745"
          >
            <a
              href="https://www.iguazu.gob.ar/tramites-de-fiscalizacion/"
              class="pp-sub-item">Trámites de fiscalización</a
            >
          </li>
        </ul>
      </li>
      <li
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6451"
      >
        <a href="/webmail" class="pp-menu-item">Webmail</a>
      </li>
      <li
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-826"
      >
        <a href="https://www.iguazu.gob.ar/contacto/" class="pp-menu-item"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <div
    data-elementor-type="header"
    data-elementor-id="420"
    class="elementor elementor-420 elementor-location-header"
    data-elementor-settings="[]"
  >
    <div class="elementor-section-wrap">
      <nav
        class="elementor-section elementor-top-section elementor-element elementor-element-db52892 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-sticky--effects"
        data-id="db52892"
        data-element_type="section"
        id="stickyheader"
        data-settings='{"background_background":"classic","sticky":"top","sticky_on":["desktop","tablet","mobile"],"sticky_offset":0,"sticky_effects_offset":0}'
        style=""
      >
        <div class="elementor-container elementor-column-gap-custom">
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a338806"
            data-id="a338806"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-f4ed374 elementor-widget elementor-widget-image"
                data-id="f4ed374"
                data-element_type="widget"
                id="logo-menu"
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container">
                  <a href="https://www.iguazu.gob.ar">
                    <img
                      width="604"
                      height="181"
                      src="https://www.iguazu.gob.ar/wp-content/uploads/2021/09/LOGO-ISOTIPO-MUNI-BLANCO-2.svg"
                      class="attachment-full size-full"
                      alt=""
                      loading="lazy"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1fa7949"
            data-id="1fa7949"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-61fff24 elementor-widget elementor-widget-pp-advanced-menu"
                data-id="61fff24"
                data-element_type="widget"
                data-settings='{"layout":"horizontal","show_submenu_on":"hover","toggle":"icon","toggle_icon_type":"hamburger"}'
                data-widget_type="pp-advanced-menu.default"
              >
                <div class="elementor-widget-container">
                  <div
                    class="pp-advanced-menu-main-wrapper pp-advanced-menu__align-justify pp-advanced-menu--indicator-classic pp-advanced-menu--dropdown-tablet pp-advanced-menu--type-off-canvas pp-advanced-menu__text-align-aside pp-advanced-menu--toggle pp-advanced-menu--icon"
                  >
                    <nav
                      id="pp-menu-61fff24"
                      class="pp-advanced-menu--main pp-advanced-menu__container pp-advanced-menu--layout-horizontal pp--pointer-text e--animation-grow"
                      data-settings='{"menu_type":"off-canvas","menu_id":"61fff24","breakpoint":"tablet","menu_layout":"horizontal","show_submenu_on":"hover","onepage_menu":"no","full_width":true}'
                    >
                      <ul
                        id="menu-menu"
                        class="pp-advanced-menu"
                        data-smartmenus-id="17272922073180405"
                      >
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-15"
                        >
                          <a
                            class="pp-menu-item has-submenu"
                            id="sm-17272922073180405-7"
                            aria-haspopup="true"
                            aria-controls="sm-17272922073180405-8"
                            aria-expanded="false"
                            >La Ciudad<span class="sub-arrow"
                              ><i class="fa" aria-hidden="true"></i></span
                            ></a
                          >
                          <ul
                            class="sub-menu pp-advanced-menu--dropdown scañibur"
                            id="sm-17272922073180405-8"
                            role="group"
                            aria-hidden="true"
                            aria-labelledby="sm-17272922073180405-7"
                            aria-expanded="false"
                          >
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-770"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/intendente/"
                                class="pp-sub-item">El Intendente</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-789"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/secretaria-de-gobierno/"
                                class="pp-sub-item">Secretaría de Gobierno</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-712"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/historia/"
                                class="pp-sub-item">Reseña Histórica</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1527"
                            >
                              <a
                                target="_blank"
                                rel="noopener"
                                href="https://historiadeiguazu.org/"
                                class="pp-sub-item"
                                >Dirección de Patrimonio Histórico</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16"
                        >
                          <a
                            class="pp-menu-item has-submenu"
                            id="sm-17272922073180405-9"
                            aria-haspopup="true"
                            aria-controls="sm-17272922073180405-10"
                            aria-expanded="false"
                            >La Municipalidad<span class="sub-arrow"
                              ><i class="fa" aria-hidden="true"></i></span
                            ></a
                          >
                          <ul
                            class="sub-menu pp-advanced-menu--dropdown sm-nowrap"
                            id="sm-17272922073180405-10"
                            role="group"
                            aria-hidden="true"
                            aria-labelledby="sm-17272922073180405-9"
                            aria-expanded="false"
                          >
                            <li
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8296"
                            >
                              <a
                                target="_blank"
                                rel="noopener"
                                href="https://visitiguazu.travel"
                                class="pp-sub-item">Turismo</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4562"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/cultura/"
                                class="pp-sub-item">Cultura</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8205"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/deportes-2/"
                                class="pp-sub-item">Deportes</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7492"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/medio-ambiente/"
                                class="pp-sub-item">Medio Ambiente</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8250"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/direccion-de-la-juventud/"
                                class="pp-sub-item">Dirección de la Juventud</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-909"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/oficina-de-empleo/"
                                class="pp-sub-item">Oficina de Empleo</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8271"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/diversidadygeneros/"
                                class="pp-sub-item">Diversidad y Géneros</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3863"
                            >
                              <a href="/higiene-y-seguridad" class="pp-sub-item"
                                >Higiene y Seguridad</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3858"
                            >
                              <a href="/bromatologia" class="pp-sub-item"
                                >Bromatología</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3857"
                            >
                              <a href="/transito" class="pp-sub-item"
                                >Tránsito</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3864"
                            >
                              <a href="/zoonosis" class="pp-sub-item"
                                >Zoonosis</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4237"
                            >
                              <a href="/vectores" class="pp-sub-item"
                                >Vectores</a
                              >
                            </li>
                          </ul><span
                            class="scroll-up"
                            style="top: auto; left: 0px; margin-left: 1px; width: 198px; z-index: 3; display: none;"
                            ><span class="scroll-up-arrow"></span></span
                          ><span
                            class="scroll-down"
                            style="display: none; top: auto; left: 0px; margin-left: 1px; width: 198px; z-index: 3;"
                            ><span class="scroll-down-arrow"></span></span
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12"
                        >
                          <a
                            class="pp-menu-item has-submenu"
                            id="sm-17272922073180405-11"
                            aria-haspopup="true"
                            aria-controls="sm-17272922073180405-12"
                            aria-expanded="false"
                            >Trámites<span class="sub-arrow"
                              ><i class="fa" aria-hidden="true"></i></span
                            ></a
                          >
                          <ul
                            class="sub-menu pp-advanced-menu--dropdown"
                            id="sm-17272922073180405-12"
                            role="group"
                            aria-hidden="true"
                            aria-labelledby="sm-17272922073180405-11"
                            aria-expanded="false"
                          >
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-517"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/tramites-de-transito/"
                                class="pp-sub-item">Trámites de tránsito</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-518"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/tramites-de-bromatologia/"
                                class="pp-sub-item">Trámites de bromatología</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1014"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/tramites-del-cementerio/"
                                class="pp-sub-item">Trámites del cementerio</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/tramites-de-pension-por-invalidez/"
                                class="pp-sub-item"
                                >Trámites de pensión por invalidez</a
                              >
                            </li>
                            <li
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1745"
                            >
                              <a
                                href="https://www.iguazu.gob.ar/tramites-de-fiscalizacion/"
                                class="pp-sub-item">Trámites de fiscalización</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6451"
                        >
                          <a href="/webmail" class="pp-menu-item">Webmail</a>
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-826"
                        >
                          <a
                            href="https://www.iguazu.gob.ar/contacto/"
                            class="pp-menu-item">Contacto</a
                          >
                        </li>
                      </ul>
                    </nav>
                    <div class="pp-menu-toggle pp-menu-toggle-on-tablet">
                      <div class="pp-hamburger">
                        <div class="pp-hamburger-box">
                          <div class="pp-hamburger-inner"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
